#header,
footer {
    background: teal;
}

.navbar {
    background: #44bcb3;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

body {
    background: rgb(213, 245, 245);
}

.row {
    margin: 20px;
}