#header, footer {
	background: firebrick;
}

.navbar {
	border-bottom: 0.5em;
}

.navbar-default .navbar-nav>li>a {
	color: darkred;
}

.navbar-default form {
	padding-top: 25px !important;
}

.navbar-default #logged {
	padding-top: 35px !important;
	font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	text-transform: uppercase;
	font-size: 1.25em;
	font-weight: 400;
	letter-spacing: 1px;
	color: darkred;
}

.glyphicon-remove:hover {
	color: firebrick;
}

.navbar-default .navbar-nav>li>a:hover {
	margin-bottom: -0.5em;
	padding-bottom: 1.5em;
	border-bottom: 0.5em solid firebrick !important;
}

#order panel {
	margin-right: -3em;
	padding: 0;
}

body {
	background: white;
}

.row {
	margin: 30px;
}

.panel-heading {
	background: firebrick !important;
}

#index img {
	height: auto;
	width: 100%;
	max-height: 200px;
	max-width: 200px;
}

.category-img {
	margin: 0;
	padding: 0 0 10px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 1.25em;
	font-weight: 400;
	letter-spacing: 3px;
}

.filtros {
	width: 340px;
}

.nombre-rest {
	vertical-align: text-top;
	color: white;
}

.lista-restaurantes {
	width: 840px;
}

.fondoFiltro {
	background: firebrick;
	color: white;
}

.intro-text {
	margin-bottom:;
}

.itemListaRest {
	height: 170px;
	background: #f7e9e9;
	border: 1px dotted black;
}

ul {
	list-style: none;
}

.direccion {
	position: relative;
	bottom: 100px;
	left: 170px;
	font-size: 1em;
}

.horario {
	position: relative;
	bottom: 95px;
	left: 170px;
	font-size: 1em;
}

.nombre-rest {
	position: relative;
	bottom: 150px;
	left: 170px;
	margin: 0;
	padding: 0 0 10px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 1.25em;
	font-weight: 400;
	letter-spacing: 3px;
}

.nombre-rest a {
	color: darkred;
}

hr {
	border-color: firebrick;
}

.intro-text {
	color: darkred;
}

th {
	font-size: 1.10em;
	color: firebrick;
}

#nombre_plato {
	width: 160px;
}

.txtNombre {
	font-weight: bold;
}

.category {
	font-weight: bold;
}

.input-sm {
	width: 34px !important;
}

#texto-footer {
	color: white;
}

.container-fluid {
	padding-left: 2%;
	padding-right: 2%;
}

.categorias td {
	padding: 0 !important;
	border: 0 !important;
}

#postal {
	margin-left:;
}

#input-y-boton {
	margin-left: 18%;
}

.row {
	margin: 0;
	margin-bottom: 2%;
}

.amount {
	width: 120px;
}
