/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

/*Custom styles*/
#header,
footer {
    background: firebrick;
}

.navbar {
    border-bottom: 0.5em;
}

.navbar-default .navbar-nav>li>a {
    color: darkred;
}

.navbar-default .form-inline {
    padding-top: 25px !important;
}

.navbar-default #logged {
    padding-top: 35px !important;
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
    color: darkred;
}

.glyphicon-remove:hover {
    color: firebrick;
}

.navbar-default .navbar-nav>li>a:hover {
    margin-bottom: -0.5em;
    padding-bottom: 1.5em;
    border-bottom: 0.5em solid firebrick !important;
}

#order panel {
    margin-right: -3em;
    padding: 0;
}

body {
    background: white;
}

.row {
    margin: 30px;
}

.panel-heading {
    background: firebrick !important;
}

#index img {
    height: auto;
    width: 100%;
    max-height: 200px;
    max-width: 200px;
}

.category-img {
    margin: 0;
    padding: 0 0 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 3px;
}

.filtros {
    width: 340px;
}

.nombre-rest {
    vertical-align: text-top;
    color: white;
}

.lista-restaurantes {
    width: 840px;
}

.fondoFiltro {
    background: firebrick;
    color: white;
}

.itemListaRest {
    height: 170px;
    background: #f7e9e9;
    border: 1px dotted black;
}

ul {
    list-style: none;
}

.direccion {
    position: relative;
    bottom: 100px;
    left: 170px;
    font-size: 1em;
}

.horario {
    position: relative;
    bottom: 95px;
    left: 170px;
    font-size: 1em;
}

.nombre-rest {
    position: relative;
    bottom: 150px;
    left: 170px;
    margin: 0;
    padding: 0 0 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 3px;
}

.nombre-rest a {
    color: darkred;
}

hr {
    border-color: firebrick;
}

.intro-text {
    color: darkred;
}

th {
    font-size: 1.10em;
    color: firebrick;
}

#nombre_plato {
    width: 160px;
}

.txtNombre {
    font-weight: bold;
}

.category {
    font-weight: bold;
}

.input-sm {
    width: 34px !important;
}

#texto-footer {
    color: white;
}

#detallesU{
	width: 215px;
}

.container-fluid {
    padding-left: 2%;
    padding-right: 2%;
}

.categorias td {
    padding: 0 !important;
    border: 0 !important;
}

#input-y-boton{
    margin-left: 18%;
}

.row{
    margin: 0;
    margin-bottom: 2%;
}