{{> header}}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-offset-2">
                <hr>
                
           	     <h2 class="intro-text text-center">
           	    	 <strong>Editar perfil</strong>
          		 </h2>
          		
                <hr>
                
                <form class="form-horizontal" data-toggle="validator" method="post" action="/editUser" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input name="userEmail" type="email" class="form-control" id="inputEmail" placeholder="Email" value="{{email}}"> </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Contraseña</label>
                        <div class="col-sm-10">
                            <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Contraseña"  value="{{password}}"> </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordConfirm" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Las contraseñas no coinciden" placeholder="Confirmar contraseña"  value="{{password}}" required> </div>
                    </div>
                    <br>
                   
                    <br>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" name="userName" placeholder="Nombre"  value="{{name}}"> </div>
                    </div>
                     {{#isPerson}}
                    <div class="form-group surname">
                        <label for="inputSurname" class="col-sm-2 control-label">Apellidos</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputSurname" name="userSurname" placeholder="Apellidos"  value="{{surname}}"> </div>
                    </div>
                    {{/isPerson}}
                    <div class="form-group">
                        <label for="inputTlf" class="col-sm-2 control-label">Teléfono</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputTlf" placeholder="Teléfono" name="phone"  value="{{phone}}"> </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDir" class="col-sm-2 control-label">Dirección</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputDir" placeholder="Dirección" name="address"  value="{{address}}"> </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCP" class="col-sm-2 control-label">Código Postal</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputCP" placeholder="Código Postal" name="postalCode"  value="{{postalCode}}"> </div>
                    </div>
                    {{#isRestaurant}}
                    <div class="form-group categorias">
                        <label for="inputCat" class="col-sm-2 control-label">Categorías</label>
                        <div class="col-sm-10">
                            <table class="table" id="inputCat">
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                           
                                                <input type="checkbox" name="categories" value="pizza" {{#categories0}} checked {{/categories0}}> Pizza </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="categories" value="hamburguesa" {{#categories1}} checked {{/categories1}} > Hamburguesa </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="categories" value="japonesa" {{#categories2}} checked {{/categories2}}> Japonesa </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="categories" value="española" {{#categories3}} checked {{/categories3}}> Española </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="categories" value="vegetariana" {{#categories4}} checked {{/categories4}}> Vegetariana </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="categories" value="china" {{#categories5}} checked {{/categories5}}> China </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="categories" value="italiana" {{#categories6}} checked {{/categories6}}> Italiana </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="categories"  value="turca" {{#categories7}} checked {{/categories7}}> Turca </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="categories" value="india" {{#categories8}} checked {{/categories8}}> India </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                  
                    <div class="form-group image">
                        <label for="inputImg" class="col-sm-2 control-label">Imagen</label>
                        <div class="col-sm-10">
                            <input type="file" id="inputImg" name="image">
                            <p class="help-block">Suba una imagen de su restaurante para cambiarla</p>
                        </div>
                    </div>
                   {{/isRestaurant}} 
                   
                    <br>
                    
                    <div class="form-group text-center">
                        <div class="col-sm-offset-2 col-sm-10">
                        <center>
                            <button type="submit" class="btn btn-success">Modificar</button>
                        </center>
                        </div>
                    </div>
                   <input type="hidden" name="_csrf" value="{{token}}">
                </form>
            </div>
        </div>
    </div>
    <!-- /.container -->
{{> footer}}