<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Delicious Food</title>
<!-- jQuery -->
<script src="../js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.js"></script>
<!-- Bootstrap Core CSS -->
<link href="../css/bootstrap.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="../css/business-casual.css" rel="stylesheet">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
<!-- Nuestros archivos -->
<link href="../css/style.css" rel="stylesheet">
<script src="../js/functions.js"></script>

</head>

<body>
{{^isPerson}}
{{^isRestaurant}}
<div id="header">
	<div class="brand">Delicious Food</div>
	<div class="address-bar">Restaurantes de distintos tipos que sirven a domicilio</div>
	<!-- Navigation -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
				<a class="navbar-brand" href="index.html">Business Casual</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="/">Inicio</a></li>
					<li><a href="/restaurant">Restaurantes</a></li>
					<li><a href="/form">Registro</a></li>
				</ul>
				<form class="navbar-form navbar-right form-inline" method="post" action="/login">
					<div class="form-group">
						<input type="email" class="form-control" id="email" name="email"
							placeholder="tucorreo@dominio.com">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="password" name="password"
							placeholder="Tu contraseña">
					</div>
					<button type="submit" class="btn btn-success">Conectarse</button>
				</form>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
</div>
{{/isRestaurant}}
{{/isPerson}}

{{#isPerson}}
{{> headerPerson}}
{{/isPerson}}

{{#isRestaurant}}
{{> headerRestaurant}}
{{/isRestaurant}}