{{> header}}
    <div class="container-fluid">
         <hr>
            <h2 class="intro-text text-center">
                <strong>Pedidos</strong>
            </h2>
        <hr>
        <div class="row">
            <!-- tabla pedidos -->
            <div class="col-sm-8 col-md-offset-2">
              
               <table class="table table-striped">
                    <thead>
                        <tr>
                        	<th id="detallesU" class="text-center"> Detalles del pedido </span></th>
                            <th class="text-center"> Restaurante </th>
                            <th> Teléfono </th>
                            <th> Precio </th>
                                                   
                        </tr>
                    </thead>
                    <tbody>
            	    	{{#requests}}
                        <tr>
                        	
							<td> <button type="button" class="btn btn-primary center-block btn-warning" onclick="examineProducts({{id}});"> Mostrar </button></td>
							 <td class="text-center"> <strong> {{nameRestaurant}} </strong></td>
            	            <td> {{phoneRestaurant}} </td>
                            <td> {{price}}  <span class="glyphicon glyphicon-euro"> </span> </td>  
                          
                        </tr>
                        {{/requests}}
                       
						 
                    </tbody>
                </table>
                <input type="hidden" name="_csrf" value="{{token}}">
               
            </div>
            <form action='requests/products' method='POST' id='products'>	
				<input type="hidden" name="selectedRequest" value="">
				<input type="hidden" name="_csrf" value="{{token}}">
			</form>
        	
        </div>
       
    </div>
    <!-- /.container -->
{{> footer}}