{{> header}}
<div class="container-fluid">
	<hr>
	<h2 class="intro-text text-center">
		<strong>Pedidos</strong>
	</h2>
	<hr>
	<div class="row">
		<!-- tabla pedidos -->
		<div class="col-sm-8 col-md-offset-2">
			<form action='/requests' method='POST' id='requests'>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Dirección</th>
							<th>Teléfono</th>
							<th>Precio</th>
							<th>Estado</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{{#requests}}
						<tr>
							<input type="hidden" name="request" value="{{id}}">
							<td>{{address}}</td>
							<td>{{phone}}</td>
							<td>{{price}} <span class="glyphicon glyphicon-euro">
							</span>
							</td>
							<td>{{^delivered}} <span class="text-warning delivered"> <strong>
										Pendiente </strong>
							</span> {{/delivered}} {{#delivered}} <span class="text-primary delivered">
									<strong> Entregado </strong>
							</span> {{/delivered}}
							</td>
							{{#isRestaurant}}
							<td>
								<input type="hidden" name="delivered" value="{{delivered}}" /> 
							{{^delivered}}
								<button type="button" class="btn btn-primary delivered" onclick="deliver(this);">Entregado</button> 
							{{/delivered}}
							</td>
							{{/isRestaurant}}
						</tr>
						{{/requests}}
					</tbody>
				</table>
				{{#isRestaurant}}
				<button type="submit" class="btn btn-success">Actualizar</button>
				{{/isRestaurant}}
				<input type="hidden" name="_csrf" value="{{token}}">
				<input type="hidden" name="selectedRequest" value="">
			</form>
		</div>

	</div>

</div>
<!-- /.container -->
{{> footer}}
