{{> header}}
    <div class="container-fluid">
         <hr>
            <h2 class="intro-text text-center">
                <strong>Pedidos</strong>
            </h2>
        <hr>
        <div class="row">
            <!-- tabla pedidos -->
            <div class="col-sm-8 col-md-offset-2">
               <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Dirección </th>
                            <th> Teléfono </th>
                            <th> Precio </th>
                            <th> Estado </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Avenida del Rio, Nº 3 P 4º A </td>
                            <td> 689959685 </td>
                            <td> 10,00€ </td> 
                            <td> <span class="text-warning"> <strong> Pendiente </strong> </span></td>
                        </tr>
                        
                        <tr>
                            <td> Calle Ronda, Nº 29 P 1º A </td>
                            <td> 689959685 </td>
                            <td> 22,00€ </td> 
                            <td> <span class="text-warning"> <strong> Pendiente </strong> </span></td>
                        </tr>
                        
                        <tr>
                            <td> Calle de las flores Rio, Nº 5 P 7º A </td>
                            <td> 689949675 </td>
                            <td> 50,00€ </td> 
                            <td> <span class="text-primary"> <strong> Entregado </strong> </span></td>
                        </tr>
                        <tr>
                            <td> Avenida del Valle, Nº 1 P 4º DCHA </td>
                            <td> 652909685 </td>
                            <td> 30,00€ </td> 
                            <td> <span class="text-primary"> <strong> Entregado </strong> </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
         
        </div>
    </div>
    <!-- /.container -->
{{> footer}}