{{> header}}
    <div class="container-fluid">
         <hr>
            <h2 class="intro-text text-center">
                <strong>Pedidos</strong>
            </h2>
        <hr>
        <div class="row">
            <!-- tabla pedidos -->
            <div class="col-sm-8 col-md-offset-2">
               
               <table class="table table-striped">
                    <thead>
                        <tr>
                        	<th width= 175 px> Detalles del pedido </span></th>
                            <th> Restaurante </th>
                            <th> Teléfono </th>
                            <th> Precio </th>
                            
                            
                        </tr>
                    </thead>
                    <tbody>
            	    	{{#requests}}
                        <tr>
                        	<form action='requests/products' method='POST' id='requests/products'>
								<td> <span class="mostrar"><button type="submit" class="btn btn-primary" onclick="(examineProducts(id));"> Mostrar </button></span></td>
							</form>
                            <td> <strong> {{nameRestaurant}} </strong></td>
            	            <td> {{phoneRestaurant}} </td>
                            <td> {{price}}  <span class="glyphicon glyphicon-euro"> </span> </td>  
                          
                        </tr>
                        {{/requests}}
                       
						 
                    </tbody>
                </table>
                <input type="hidden" name="_csrf" value="{{token}}">
               </form>
            </div>
        	
        </div>
       
    </div>
    <!-- /.container -->
{{> footer}}