 {{> header}}
<div class="container">
	<form class="form-horizontal" data-toggle="validator" method="post"	action="/request">
		<div class="col-sm-7">
			{{#person}}
			<div class="form-group">
				<label for="inputName" class="col-sm-2 control-label">Nombre</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name" id="inputName" value="{{name}}" placeholder="Nombre">
				</div>
			</div>
			<div class="form-group">
				<label for="inputSurname" class="col-sm-2 control-label">Apellidos</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="surname" id="inputSurname" value="{{surnames}}" placeholder="Apellidos">
				</div>
			</div>
			<div class="form-group">
				<label for="inputTlf" class="col-sm-2 control-label">Teléfono</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" name="phone" id="inputTlf" value="{{phone}}" placeholder="Teléfono">
				</div>
			</div>
			<div class="form-group">
				<label for="inputDir" class="col-sm-2 control-label">Dirección</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputDir" name="address" value="{{address}}" placeholder="Dirección">
				</div>
			</div>
			<div class="form-group">
				<label for="inputCP" class="col-sm-2 control-label">Código Postal</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" id="inputCP" name="postal" value="{{postalCode}}"  placeholder="Código Postal">
				</div>
			</div>
			{{/person}}
		</div>
		<div class="col-sm-5">
			<div id="order">
				<div class="panel panel-primary">
					<div class="panel-heading">Detalles del pedido</div>
					<div class="panel-body">
						<table class="table">
							{{#products}}
							<tr>
								<td><span class="amount">{{amount}}</span><input
									name=amounts type="hidden" value="{{amount}}" /></td>
								<td><input name=products type="hidden" value="{{id}}" /><span>x</span></td>
								<td><span class="product"><strong class="orderName">{{name}}</strong></span></td>
								<td><span class="price">{{price}}</span> <span
									class="glyphicon glyphicon-euro"></span></td>
							</tr>
							{{/products}}
							<tr class="active">
								<td colspan="3"><span class="h4"> Total </span></td>
								<td><span id="total" class="h4">{{total}}</span> <input
									type="hidden" name="total" value="{{total}}" /> <span
									class="glyphicon glyphicon-euro"></span></td>
							</tr>
						</table>
						<input type="hidden" name="restaurant" value="{{restaurant}}" />
						<input class="btn btn-success btn-lg btn-block" type="submit" value="Finalizar">
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{{> footer}}